<div class="container mt-4">
  <div class="row">
    <div class="form-group col-3">
      <label for="cidade">Cidade</label>
      <input type="text" class="form-control" id="cidade" placeholder="ES">
    </div>
    <div class="form-group col-3 ">
      <label for="sexo">Sexo</label>
      <select class="form-control" id="sexo">
        <option value="T">Ambos</option>
        <option value="M">Masculino</option>
        <option value="F">Feminino</option>
      </select>
    </div>
    <div class="form-group col-3">
      <label for="partido">Partido</label>
      <input type="text" class="form-control" id="partido" placeholder="PSOL">
    </div>
      <button type="button" class="btn btn-primary">Pesquisar</button>
  </div>
  <table class="table table-striped">
    <thead class="text-center">
      <tr>
        <th scope="col">ID</th>
        <th scope="col">NOME</th>
        <th scope="col">EMAIL</th>
        <th scope="col">SEXO</th>
        <th scope="col">CIDADE</th>
        <th scope="col">PARTIDO</th>
        <th scope="col">FOTO</th>
      </tr>
    </thead>
    <tbody class="text-center">
      <tr *ngFor="let dado of dadosFiltro">
        <th scope="row">{{ dado.id }}</th>
        <th>{{ dado.nome }}</th>
        <th>{{ dado.email }}</th>
        <th>{{ dado.dadosDeputado.dados.sexo}}</th>
        <th>{{ dado.dadosDeputado.dados.ufNascimento}}</th>
        <th>{{ dado.dadosDeputado.dados.ultimoStatus.siglaPartido}}</th>
        <td>
          <img [src]="dado.urlFoto" class="mr-2" style="width: 40px">
        </td>
      </tr>
    </tbody>
  </table>

  <div class="d-flex justify-content-between p-2">
    <ngb-pagination [collectionSize]="collectionSize" [(page)]="page" [pageSize]="pageSize">
    </ngb-pagination>

    <select class="custom-select" style="width: auto" [(ngModel)]="pageSize">
      <option [ngValue]="10">10 items per page</option>
      <option [ngValue]="20">20 items per page</option>
      <option [ngValue]="40">40 items per page</option>
      <option [ngValue]="60">60 items per page</option>
    </select>
  </div>
</div>